[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
dash = "==*"
dash_renderer = "==*"
dash-html-components = "==*"
dash-core-components = "==*"
plotly = "==2.0.12"
python-dotenv = "*"
requests = "*"
pandas = "*"
arrow = "*"
gunicorn = "*"
